# --- PYTHON JUNK ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
clean_build_env/
.env

# --- BUILD ARTIFACTS (From your .exe attempts) ---
build/
dist/
*.spec

# --- LARGE BINARIES & MODELS ---
# Users must download these manually
backend/model/
backend/ffmpeg.exe
backend/ffprobe.exe
backend/ffplay.exe

# --- MEDIA & LOGS ---
*.log
backend/*.wav
backend/*.webm
SentryAI_Police_Report_*.txt
SentryAI_Evidence_*.pdf

# --- IDE SETTINGS ---
.vscode/
.idea/
*.swp